@page "/counter/{currentCountParameter?}"
@inject ILogger<Counter> looger;
<PageTitle>Counter</PageTitle>

<ModuleTitle Title="Counter"/>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [SupplyParameterFromQuery]
    [Parameter]
    public string? currentCountParameter { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<string>(nameof(currentCountParameter),out var value)){
            if (value is not null)
                currentCountParameter = value;    
        }
            
        await base.SetParametersAsync(parameters);
    }
    protected override void OnParametersSet()
    {
        looger.LogInformation("Se envia los parametros");
    }

    protected override void OnInitialized()
    {
        currentCount = currentCountParameter != null ? int.Parse(currentCountParameter) : 0; 
        looger.LogInformation("Se inicia el componente");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        looger.LogInformation("Esto ocurre despues de iniciar el componente");
    }
    private void IncrementCount()
    {
        currentCount++;
    }
}
